
$themes: (
  light: (
    backgroundColor: #f1ece1,
    textColor: #414141,
    headerUnderlineColor: #888888,
    locationColor: #686868,
    cardBackgroundColor: #fdfbf5,
    cardOutlineColor: #a8a8a8,
    cardShadowColor: #b3b3b3,
    keywordColor: #3d3d3d,
  ),
);

@function t($key) {
  @return map-get($theme-map-current, $key)
}

@mixin themed() {
  @each $theme, $map in $themes {
    .theme--#{$theme} & {
      $theme-map-current: $map !global;
      @content;
      $theme-map-current: null !global;
    }
  }
}