<template lang="pug">
  #app.theme--light
    nuxt
</template>

<style lang="scss">
@import "~assets/themes";

body {
  margin: 0;
  padding: 0;
}

#app {
  @include themed() {
    background-color: t(backgroundColor);
  }
}
</style>
