<template lang="pug">
  #container
    #portrait
    #content
      header
        h1 Josh Stefanski
        #tagline Software Engineer. Game Developer. Tinkerer.
      section(v-html="bio")
      nav
        ul
          li: a(href="//twitter.com/perpetualcode")
            twitter-icon
            .
              tweets
          li: a(href="//mastodon.gamedev.place/@nikaji")
            mastodon-icon
            .
              toots
          li: a(href="//twitch.tv/nikaji")
            twitch-icon
            .
              live coding
          li: a(href="//linkedin.com/in/jstefanski")
            linkedin-icon
            .
              professional experience
          li: a(href="mailto:hello@joshstefan.ski")
            email-icon
            .
              say hello
          li: a(href="//gitlab.com/jstefanski/joshstefan.ski")
            code-tags-icon
            .
              view source
</template>

<script>
  import CodeTagsIcon from 'mdi-vue/CodeTags.vue'
  import EmailIcon from 'mdi-vue/Email.vue'
  import LinkedinIcon from 'mdi-vue/Linkedin.vue'
  import MastodonIcon from 'mdi-vue/Mastodon.vue'
  import TwitchIcon from 'mdi-vue/Twitch.vue'
  import TwitterIcon from 'mdi-vue/Twitter.vue'

  import BioText from '@/assets/bio.md'

  export default {
    components: {
      CodeTagsIcon,
      EmailIcon,
      LinkedinIcon,
      MastodonIcon,
      TwitchIcon,
      TwitterIcon,
    },
    data: () => ({
      bio: BioText,
    })
  }
</script>

<style lang="scss">
  @import url('https://fonts.googleapis.com/css?family=Exo+2|Jura');

  $color-background : #131117;
  $color-text       : #9ea4d3;
  $color-link	      : #848d96;
  $color-link-hover : #CA486d;

  $portrait-image: url('~assets/portrait.jpg');

  #container {
    background-color: $color-background;
    color: $color-text;
    font-family: 'Exo 2', sans-serif;

    p {
      color: $color-text;
      line-height: 1.5rem;
    }

    a:link, a:visited {
      color: $color-link;
      text-decoration: none;
    }
    a:hover, a:active {
      color: $color-link-hover;
      text-decoration: underline;
    }

    h1 {
      font-family: 'Jura', sans-serif;
      font-weight: 600;
    }

    display: flex;
    width: 100vw;
    height: 100vh;

    #portrait {
      width: 35%;
      height: 100vh;
      max-height: 700px;
      max-width: 600px;
      background-image: $portrait-image;
      background-position: center;
      background-size: cover;
      vertical-align: middle;
      margin: auto 0;
    }

    #content {
      width: 65%;
      min-height: 100vh;

      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      header {
        text-align: center;

        h1 {
          font-size: 4rem;
          padding-bottom: 0.5rem;
          border-bottom: 0.1rem dotted $color-link;
          margin-bottom: 0.7rem;
        }

        #tagline {
          font-size: 1.4rem;
          color: $color-link;
        }
      }

      section {
        h1 {
          font-size: 2rem;
          margin: 1rem;
          padding: 0;
        }
        margin: 2rem 6rem 2.4rem;
        max-width: 40rem;
        text-align: center;
      }

      nav {
        border: 0.1rem dotted $color-link;
        padding: 1.1rem 1.3rem;
        ul {
          list-style-type: none;
          margin: 0;
          padding: 0;
        }
        li {
          list-style-type: none;
          margin: 0.2rem 0;
          padding: 0;
        }
      }
    }
  }
</style>
